[submodule "tests"]
	path = l2geth/tests/testdata
	url = https://github.com/ethereum/tests
[submodule "datalayr-mantle"]
	path = datalayr-mantle
	url = https://github.com/Layr-Labs/datalayr-mantle
[submodule "eignlayr-contracts-mantle"]
	path = eignlayr-contracts-mantle
	url = https://github.com/Layr-Labs/eignlayr-contracts-mantle
