go 1.18

use (
    ./subsidy
	./batch-submitter
	./bss-core
	./gas-oracle
	./l2geth
	./l2geth-exporter
	./proxyd
	./state-surgery
	integration-tests/go-tests
	./tss
	//./mt-batcher
)

replace github.com/ethereum/go-ethereum v1.10.21 => github.com/ethereum-mantle/reference-optimistic-geth v0.0.0-20220803173305-1c9d4cc76a6e

// For local debugging:
//replace github.com/ethereum/go-ethereum v1.10.21 => ../go-ethereum
