name: gh-pages

on:
  push:
    branches:
      - main
    paths:
      - 'packages/sdk/**'

jobs:
  cd:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [18]

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          ref: main

      - name: Setup node env
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: yarn install && yarn build

      - name: Build
        run:  cd packages/sdk/ && yarn autogen:docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/sdk/docs
          cname: sdk.mantle.xyz
